WEB_HTTP_PORT=80
WEB_HTTPS_PORT=443
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=easm-root-pass
MYSQL_DATABASE=easm_lab
MYSQL_USER=easm
MYSQL_PASSWORD=easm-user-pass
REDIS_PORT=6379
SSH_PORT=22
SSH_USERNAME=scanner
SSH_PASSWORD=scanner-pass
SHELLSHOCK_PORT=8080
